.custom-instagram{
  color:rgb(222, 76, 146);
}

.custom-twitter{
  color:rgb(20, 204, 245);
}

.background{
  background-image: url(assets/background.jpg);
}

.card-transparent {
  background-color: transparent;
}